@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

video {
    position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.intro-typ {
  color: aqua;
  display: inline-block;
  font-size: 30px;
  margin-left: 350px;
  margin-top: 20px;
}

.welcome {
  color: white;
  margin-left: 300px;
  margin-top: 150px;
  font-size: 80px;
  display: inline-block;
}

.txt{
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 130px;
  font-size: 25px;
}

.ncard{
  height: 100vh;
  background-color: #1D2228;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* @media (max-width: 1080px) {
  .welcome {
    font-size: 40px;
    margin-left: 100px;
  }
}
@media (max-width: 1080px) {
  .intro-typ {
    font-size: 20px;
    margin-left: 120px;
    margin-top: 10px;
  }
} */

.homeshow{
    height: 100vh;
}

.square{
  background-color: #75C2F6;
  width: 25%;
  height: 50vh;
  flex-direction: row;
  border-radius: 6px;
}

.glbimg{
  display: flex;
  justify-content: center;
  /* background-color: red; */
  height: 50%;
  margin-top: 30px;
}

.png{
  padding-top: 20px;
}

.pnghd{
  color: white;
  text-align: center; 
}

.png-info{
  font-size: 25px;
  margin-top: 20px;
}


.txt-hvr{
z-index: 1;
font-size: 20px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
position: relative;
display: flex;
align-items: center;
overflow: hidden;
opacity: 1;
animation-duration: 0.5s;
animation-name: hv;
/* visibility: hidden; */
display: none;
}

.square:hover .txt-hvr{
  /* visibility: visible; */
  display: flex;
  transition: 0.3s;
  margin-top: -281px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
}

@keyframes hv{
  0%{opacity: 0;}
  100%{opacity: 1;}
}



/* responsive */


@media (max-width: 768px) {
  .welcome {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 100px;
  }

  .intro-typ {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
  }

  .txt {
    font-size: 16px;
    margin-left: 20px;
  }

  .ncard {
    flex-direction: column;
    padding: 20px;
    height: 130vh;
  }
  b{
    font-size: 20px;
  }

  .square {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }

  .square:hover .txt-hvr{
    /* visibility: visible; */
    display: flex;
    transition: 0.3s;
    margin-top: -229px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.842);
  }
}