
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.logo-name{
    color: aqua;
    margin-left: 30px;
    background-color: transparent;
    font-size: 30px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    background-color: #1D2228;
    list-style: none;
    padding: 20px;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid aqua;
}

.menu-links{
    width: 50%;
    font-size: large;
    background-color: transparent;

}

.menu-links ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    backface-visibility: visible;
    background-color: transparent;
    

}

.menu-links li a{
    text-decoration: none;
    color: aqua;
    position: relative;
    background-color: transparent;
    padding-right: 20px;
}

ul a:after{
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

.btn{
    width: 100px;
    background: transparent;
}
.butn{
    background: none;
    padding-right: 20px;
}

.toggle-btn{
    display: none;
    color: white;
}
  
  .bar {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .show .menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .show .menu-links ul li {
    margin: 20px 0;
  }


  .toggle-btn.show .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  
  .toggle-btn.show .bar:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-btn.show .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }


  /* dropdown */

  .dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 70px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    opacity: 1; /* Set initial opacity to 1 */
    pointer-events: auto; /* Enable pointer events */
    transform: translateY(0); /* Set initial transform to 0 */
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .show .dropdown_menu {
    animation: fadeIn 0.5s; /* Apply the fadeIn animation to show the dropdown with a fade-in effect */
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .dropdown_menu li{
    padding: 0.7rem;
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu li a{
    text-decoration: none;
    color: aqua;
  }
 
  /* animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0);
    }
  }
 





  /* responsive */


/* @media (max-width: 1080px){
    .logo-name{
        font-size: 17px;
        margin-left: -2px;
    }

    .menu-links li a{
        font-size: 15px;
    }
}

@media (max-width: 960px){
    .menu-links li a{
        display: none;
    }

    .btn{
        display: none;
    }
} */


@media (max-width: 960px) {
    .logo-name {
      font-size: 17px;
      margin-left: -2px;
    }
  
    .menu-links {
      display: none;
    }
  
    .toggle-btn{
        display: block;
        color: white;
        margin-right: 30px;
        cursor: pointer;
    }
    
 }
