
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.logo-name{
    color: white;
    margin-left: 30px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
}

.menu-links{
    width: 50%;
    font-size: large;

}

.menu-links ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    

}

.menu-links li a{
    text-decoration: none;
    color: white;
    position: relative;
}

a:after{
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

.btn{
    width: 100px;
}
